div.col-md-6.col-md-offset-3

  h2= _('Sign up for 30 day free trial!')

  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = devise_error_messages!

    div.field
      = f.label :domain
      div.input-group
        = f.text_field :domain
        span.domain-name= BaseDomain.format('')

    div.field
      = f.label :name
      div.input-group
        = f.text_field :name

    div.field
      = f.label :email
      div.input-group
        = f.text_field :email

    div.field
      = f.label :password
      div.input-group
        = f.password_field :password

    div.field
      = f.label :password_confirmation
      div.input-group
        = f.password_field :password_confirmation

    div.field
      div.submit
        = f.submit _('Sign up')
