# The passenger module (from the libapache2-mod-passenger package) must be
# enabled
<VirtualHost *:80>
    ServerName <%= node['laboro']['hostname'] %>
    RailsEnv production
    PassengerAppGroupName laboro_frontend
    PassengerUser laboro
    SetEnv R1C_BASE_DOMAIN <%= node['laboro']['base_domain'] %>
    DocumentRoot /srv/laboro/current/public
    <Directory "/srv/laboro/current/public">
        Allow from all
        Options -MultiViews
        Require all granted
    </Directory>
</VirtualHost>

# vim: ft=apache
