[Unit]
Description=Laboro background worker

[Service]
WorkingDirectory=/srv/laboro/current
PrivateTmp=true
User=laboro
Environment=R1C_BASE_DOMAIN=<%= node['laboro']['base_domain'] %>
Environment=RAILS_ENV=production
ExecStart=/srv/laboro/current/bin/r1c-daemon

[Install]
WantedBy=multi-user.target
