div.jumbotron
  h1= _('Project management bla bla bla')
  p= _('Here goes some sales mumbo jumbo ...')
  p
    a.btn.btn-lg.btn-success role='button' href=new_account_registration_path
      span.glyphicon.glyphicon-chevron-right
      = ' ' + _('Start a 30-day free trial')
