div.col-md-6.col-md-offset-3

  h2= _('Welcome back')

  - if request.post?
    div#error_explanation
      = _('Domain or password invalid')

  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    = devise_error_messages!

    div.field
      = f.label :domain
      div.input-group
        = f.text_field :domain
        span.domain-name= BaseDomain.format('')

    div.field
      = f.label :password
      div.input-group
        = f.password_field :password

    div.field
      div.submit
        = f.submit _('Login')

    div.field
      div.submit
        = render "devise/shared/links"
