.narrow-page
  .account-box
    .account-name
      h2.panel-title= _('Welcome to Laboro')
    .account-info data-status=current_account.status
      .account-created style=(current_account.status != 'created' && 'display: none')
        h3= _('Please wait ...')
        = _('Your project management platform will be ready in a few instants!')
      .account-active style=(current_account.status != 'active' && 'display: none')
        .icon
        .info
          h3= _('Your account is ready')
          p
            form action=account_service_url(current_account)
              = hidden_field_tag 'external_autologin', current_account.login_token
              = submit_tag _('Click here to go to your project management platform'), class: 'btn btn-success'
