// Place all the styles related to the account controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.controller-account

  .narrow-page
    margin-top: 2em

  .account-box
    @extend .panel
    @extend .panel-default

  .account-name
    @extend .panel-heading

  .account-info
    @extend .panel-body

  .account-created
    padding-left: 24px
    background: image-url("loading.gif") no-repeat 4px 4px

  .account-active
    display: table
    .icon, .info
      display: table-cell
    .icon
      width: 24px
      color: #4e9a06
      @extend .glyphicon
      @extend .glyphicon-ok-sign
