@import "bootstrap-sprockets"
@import "bootstrap"
@import "bootstrap/theme"
@import "*"

body
  padding-top: 50px

form
  @extend .form-horizontal
  div.field
    @extend .form-group
    label
      @extend .col-sm-2
      @extend .control-label
    div
      @extend .col-sm-10
    input[type=text], input[type=password]
      @extend .form-control
    input.field_with_errors
      background-color: #ffcccc !important
    div.submit
      @extend .col-sm-offset-2
    input[type=submit]
      @extend .btn
      @extend .btn-primary
    .read-only
      @extend .form-control-static
  .domain-name
    @extend .input-group-addon
    width: 50%
    text-align: left
    font-weight: bold

label.field_with_errors
  color: red

table
  @extend .table
  @extend .table-striped

  th.main
    width: 50%

.narrow-page
  @extend .col-md-6
  @extend .col-md-offset-3

#error_explanation
  @extend .alert
  @extend .alert-danger
