// Place all the styles related to the services controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/
.controller-services
  td.status span
    display: none
  td.status-created
    span.status-created
      display: inline
      padding-left: 24px
      background: image-url("loading.gif") no-repeat 4px 50%
      font-style: italic
  td.status-active
    span.status-active
      display: inline
      color: green
      font-weight: bold
      @extend .glyphicon
      @extend .glyphicon-ok-circle
  td.status-inactive
    span.status-inactive
      display: inline
      color: red
      font-weight: bold
      @extend .glyphicon
      @extend .glyphicon-off
