<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>R1c</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class='controller-<%= params[:controller].downcase.gsub(/[^a-z0-9]/, '-') %>'>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><%= _('Laboro') %></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <% if account_signed_in? %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_account.email %><span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to ('My account'), account_path %></li>
                  <li><%= link_to ('My services'), services_path %></li>
                  <li role="separator" class="divider"></li>
                  <li><%= link_to ('Logout'), destroy_account_session_path, method: "delete" %></li>
                </ul>
              </li>

            <% else %>
              <li><%= link_to _('Login'), new_account_session_path %></a></li>
              <li><%= link_to _('Sign up'), new_account_registration_path %></a></li>
            <% end %>
            <li><a href="#"><%= _('Help') %></a></li>
          </ul>
          <!--
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
            </form>
          -->
        </div>
      </div>
    </nav>

    <div class='container-fluid'>
      <%= yield %>
    </div>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
</html>
